/* tell browser to swap for Nunito font when possible */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

/* font smoothing on webkit (Chrome, Safari) and mozilla (Firefox) makes fonts smoother and more legible */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* '!important' means that this font family is applied even over conflicting CSS rules */
.nunito {
  font-family: "Nunito" !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}